// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Hwiccan warriors
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/game.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | The Anglo-Saxon warriors of the Hwicce, were fierce and resilient, shaped by a land of wooded hills and river valleys. Bound by kinship and loyalty to their local lords, they fought with spears, shields, and seax blades, defending their territory against rival tribes and encroaching kingdoms. Though often overshadowed by more powerful neighbors like Mercia, the Hwiccan warriors were no less proud, steeped in pagan tradition and later Christian faith, their legacy echoing in place names and burial mounds scattered across Worcestershire and Gloucestershire.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
