// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Malvern Hills
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | The Malvern Hills rise like ancient sentinels above the English countryside, their rugged ridges and sweeping views steeped in myth and history. I stalk these hills like a mountain bandit of old, slipping through bracken and shadow, eyeing the unwary Londoner tourists as they puff their way up the slopes—soft hands gripping artisanal lattes, blissfully unaware. With a grin and a glint in my eye, I claim the high ground not with sword or pistol, but with the quiet satisfaction of one who knows every hidden path, every crag, every whispered secret of this timeless terrain.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
