// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Me
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | In the dim glow of flickering candlelight, I sit upon a throne draped in zebra skin, the spoils of a past hunt whispering of untamed lands. In my hand rests the skull of a vanquished foe—its hollow sockets forever frozen in their final gaze. Torn from the battlefield and cleansed by fire, it now serves a higher purpose: a vessel for rituals, a conduit for will and memory. Each carved sigil etched into its bone hums with power, echoing the silence that follows conquest.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
