// Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Borders
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/safe.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | The kingdom of Hwicce occupied a distinct region in early medieval England, roughly covering what is now Worcestershire, Gloucestershire, and parts of Warwickshire and Herefordshire. Its boundaries were defined by natural landmarks such as the River Severn to the west and the Cotswold Hills to the south, creating a fertile and strategically valuable territory. Nestled between the powerful kingdoms of Mercia and Wessex, Hwicce maintained a degree of autonomy, its borders shifting subtly over time as alliances and conflicts shaped the political landscape of Anglo-Saxon England.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
